.drum-pad {
  border: 1px solid black;
  height: 20vh;
  width: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
  background-color: #273c75;
  color: white;
  
}

#drum-pads {
  height: 75vh;
  width: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

#display {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  background-color: red;
}